@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
  @apply block
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}